@import "tailwindcss";

@theme {
  --color-primary: #010101;
  --font-jost: "Jost", "sans-serif";
  --font-sen: "Sen", "sans-serif";
  --screen-custom: 400px;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
  
  body {
    @apply bg-black text-white antialiased;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  @apply bg-zinc-900;
}

::-webkit-scrollbar-thumb {
  @apply bg-zinc-700 rounded-full border-2 border-zinc-900;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-zinc-600;
}
